<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:include="common/basecss::commonHead('首页','','')">
</head>
<body  class="page-header-fixed">
    <div th:replace="common/navbar::navbar"></div>
    <div class="page-container">
        <div th:replace="common/left::menu"></div>
        <div class="page-content">
            <div class="container-fluid">
                <div th:replace="common/breadcrumb::breadcrumb('home','Home','index.html','首页','#','')"></div>
                fasgdhtjgfjyktuyjsdgfhbdf
            </div>
        </div>
    </div>
    <div th:replace="common/footer ::footer"></div>

</body>
</html>